modules = ["python-3.11"]
[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41938511
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate && python manage.py runserver 0.0.0.0:5000"

[deployment]
run = ["sh", "-c", "python manage.py migrate && python manage.py runserver 0.0.0.0:5000"]
