{% extends 'books/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="contacts-page">
    <h1>Свяжитесь с нами</h1>
    <div class="contact-info">
        <p>Мы всегда рады помочь вам!</p>
        <ul>
            <li><strong>Email:</strong> info@mirknig.ru</li>
            <li><strong>Телефон:</strong> +7 (999) 123-45-67</li>
            <li><strong>Адрес:</strong> г. Москва, ул. Книжная, д. 1</li>
        </ul>
    </div>
</div>
{% endblock %}