
{% extends 'books/base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="book-detail">
    <div class="book-image">
        <img src="{% static book.static_image_path %}" alt="{{ book.title }}">
    </div>
    <div class="book-info">
        <h1>{{ book.title }}</h1>
        <p class="author">Автор: {{ book.author }}</p>
        <p class="genre">Жанр: {{ book.genre }}</p>
        <div class="description">
            <h2>Описание</h2>
            <p>{{ book.description }}</p>
        </div>
    </div>
</div>
{% endblock %}
